<!-- admin/mission/index -->
<div class="pull-right">
  <%= link_to("Add a Mission", new_admin_mission_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td>Title</td>
      <td></td>
      <td>创建时间</td>
    </tr>
  </thead>

  <% @missions.each do |mission| %>
  <tr>
    <td>
      <%= link_to(mission.title, admin_missions_path(mission)) %>
    </td>
    <td>
     <%= link_to("Edit", edit_admin_mission_path(mission)) %>
     <%= link_to("Destroy", admin_mission_path(mission), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= mission.created_at %>
    </td>
  </tr>
  <% end %>
</table>
