<h1 class="text-center"> Add a Mission </h1>

<div class="col-md-4 col-md-offset-4">

  <%= simple_form_for [:leader,@mission] do |f| %>

    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.submit "Submit" , class: "btn btn-primary" %>
    <%= link_to("Back", leader_missions_path, class: "btn btn-default")%>
  <% end %>
</div>
