<html>
<head></head>
<body >
<div class="mission">
  <% if current_user && current_user == @mission.user %>
    <%= link_to(content_tag(:span, "Write a job", :class => "fa fa-book"), new_leader_mission_job_path(@mission), :class => "btn btn-success pull-right") %>
    <%= link_to("Edit", edit_leader_mission_path(@mission), class: "btn btn-info pull-right")%>
    <%= link_to("Back", leader_missions_path(@mission), class: "btn btn-primary pull-right")%>
  <% end %>
</div>

<h1> <%= @mission.title %> </h1>

<p>
  <%= simple_format(@mission.description) %>
  <%= simple_format(@mission.location) %>
</p>

<table class="table table-boldered table-striped custab">
  <thead>
      <tr>
        <th class="text-center">job title</th>
        <th class="text-center">招聘人数</th>
        <th class="text-center">收到履历数量</th>
        <th class="text-center">薪资下限</th>
        <th class="text-center">薪资上限</th>
    <!--    <th class="text-center">job id</th>
        <th class="text-center">mission id</th>
        <th class="text-center">user id</th>
        <th class="text-center">创建者</th>  -->
        <th class="text-center"></th>
        <th class="text-center">发布时间</th>
      </tr>
  </thead>
  <tbody class="text-center">
    <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= render_job_status(job) %>
            <%= link_to(job.title, leader_mission_job_path(job.mission, job)) %>
          </td>
          <td><%= job.people %></td>
          <td> <%= link_to(job.resumes.count, leader_mission_job_resumes_path(job.mission, job)) %> </td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.wage_upper_bound %></td>
        <!--  <td><%= job.id %></td>
          <td><%= job.mission_id %></td>
          <td><%= job.user_id %></td>
          <td><%= job.user.email %></td> -->
          <td>
            <% if current_user && current_user == @mission.user %>
              <%= link_to(content_tag(:span, "修改", :class => "fa fa-pencil-square-o"),  edit_leader_mission_job_path(job.mission, job), :class => "btn btn-xs btn-info") %>
              <%= link_to(content_tag(:span, "删除", :class => "fa fa-eraser"), leader_mission_job_path(job.mission, job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
            <% end %>
            <% if job.is_hidden %>
              <%= link_to(content_tag(:span, "公布", :class => "fa fa-eye"), publish_leader_mission_job_path(job.mission, job), :method => :post, :class => "btn btn-xs btn-success") %>
            <% else %>
              <%= link_to(content_tag(:span, "隐藏", :class => "fa fa-low-vision"), hide_leader_mission_job_path(job.mission, job), :method => :post,  :class => "btn btn-xs btn-warning") %>
            <% end %>
          </td>
          <td>
            <%= job.created_at.strftime("%Y/%m/%d") %>
         </td>
       </tr>
    <% end %>
  </tbody>
</table>
</body>
</html>
