
<!-- Leader 修改职位内容 -->

<h1 class="text-center"> Edit a job </h1>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [:leader,@mission,@job] do |f| %>

    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :people %>
    <%= f.input :wage_lower_bound, :label => "薪资下限" %>
    <%= f.input :wage_upper_bound, :label => "薪资上限" %>
    <%= f.input :is_hidden, :label => "隐藏" %>
    <%= f.submit "Submit" %>
    <%= link_to("Back", leader_mission_path, class: "btn btn-default")%>
  <% end %>
</div>
