<div class="pull-right">
  <%= link_to("Add a Mission", new_mission_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered">
  <% @missions.each do |mission| %>
  <tr>
    <td>
      <%= link_to(mission.title, mission_path(mission)) %>
    </td>
    <td>
     <%= link_to("Edit", edit_mission_path(mission)) %>
     <%= link_to("Destroy", mission_path(mission), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= mission.created_at %>
    </td>
  </tr>
  <% end %>
</table>
