<div class="mission">
  <%= link_to("Back", missions_path(@mission), class: "btn btn-default pull-right")%>
</div>

<h1> <%= @mission.title %> </h1>

<p>
  <%= simple_format(@mission.description) %>
  <%= simple_format(@mission.location) %>
</p>

<table class="table table-boldered">
  <thead>
      <tr>
        <th>job title</th>
        <th>内容</th>
        <th>招聘人数</th>
        <th>薪资下限</th>
        <th>薪资上限</th>
        <th>job id</th>
        <th>mission id</th>
        <th>user id</th>
        <th>创建者</th>
        <th>发布时间</th>
      </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to(job.title, mission_job_path(job.mission, job)) %></td>
          <td><%= job.description %></td>
          <td><%= job.people %></td>
          <td><%= job.wage_upper_bound %></td>
          <td><%= job.wage_lower_bound %></td>
          <td><%= job.id %></td>
          <td><%= job.mission_id %></td>
          <td><%= job.user_id %></td>
          <td><%= job.user.email %></td>
          <td>
            <%= job.created_at %>
         </td>
       </tr>
    <% end %>
  </tbody>
</table>
