<div class="mission">
  <% if current_user && current_user == @mission.user %>
    <%= link_to("Write a job", new_mission_job_path(@mission), class: "btn btn-default pull-right")%>
    <%= link_to("Edit", edit_mission_path(@mission), class: "btn btn-primary pull-right")%>
  <% end %>
</div>

<h1> <%= @mission.title %> </h1>

<p>
  <%= simple_format(@mission.description) %>
  <%= simple_format(@mission.location) %>
</p>
