<!DOCTYPE html>
<html>
<head>
  <title>超体营－store 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin-top: 65px; margin-left: 50px; margin-right: 100px; margin-bottom: 65px;">
  <div class="container">
    <%= render "common/navbar" %>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <li class="active"> <%= link_to("Products", seller_products_path) %> </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "common/footer" %>
</body>
</html>
